MODEL=anthropic:claude-sonnet-4-5-20250929
MODEL_SMALL=anthropic:claude-3-5-sonnet-20241022
# MODEL=openai:gpt-4o
# MODEL=google_genai:gemini-2.0-flash
TEMPERATURE=0.0
ANTHROPIC_API_KEY=
# OPENAI_API_KEY=
# GOOGLE_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Modal Token
MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=
